Repository Ekumen-OS/andino, pull requests merged in 2023-07, with the labels that each got.

#98 Add proper license notice to firmware source files
  andino_firmware/andino_firmware/andino_firmware.ino
  andino_firmware/andino_firmware/commands.h
  andino_firmware/andino_firmware/diff_controller.h
  andino_firmware/andino_firmware/encoder_driver.h
  andino_firmware/andino_firmware/encoder_driver.ino
  andino_firmware/andino_firmware/motor_driver.h
  andino_firmware/andino_firmware/motor_driver.ino
Labels: firmware

#86 Add PlatformIO support
  andino_firmware/LICENSE
  andino_firmware/andino_firmware.ino
  andino_firmware/platformio.ini
  andino_firmware/src/commands.h
  andino_firmware/src/diff_controller.h
  andino_firmware/src/encoder_driver.cpp
  andino_firmware/src/encoder_driver.h
  andino_firmware/src/main.cpp
  andino_firmware/src/motor_driver.cpp
  andino_firmware/src/motor_driver.h
Labels: firmware

#106 Add ClangFormat config file
  .gitignore
  andino_firmware/.clang-format
  andino_firmware/src/commands.h
  andino_firmware/src/diff_controller.h
  andino_firmware/src/encoder_driver.cpp
  andino_firmware/src/encoder_driver.h
  andino_firmware/src/main.cpp
  andino_firmware/src/motor_driver.cpp
  andino_firmware/src/motor_driver.h
  andino_firmware/tools/formatter.sh
Labels: firmware

#107 Move pin definitions to hw.h header file
  andino_firmware/src/encoder_driver.cpp
  andino_firmware/src/encoder_driver.h
  andino_firmware/src/hw.h
  andino_firmware/src/main.cpp
  andino_firmware/src/motor_driver.cpp
  andino_firmware/src/motor_driver.h
Labels: firmware

#105 Caster wheel and ros_control in gazebo
  andino_description/urdf/andino.urdf.xacro
  andino_description/urdf/include/common_macros.urdf.xacro
  andino_gazebo/README.MD
  andino_gazebo/launch/andino_one_robot.launch.py
  andino_gazebo/launch/spawn_robot.launch.py
  andino_gazebo/urdf/andino.gazebo.xacro
Labels: simulation

#108 Add Motor class
  andino_firmware/.clang-format
  andino_firmware/src/diff_controller.h
  andino_firmware/src/main.cpp
  andino_firmware/src/motor.cpp
  andino_firmware/src/motor.h
Labels: firmware

#109 nav2 gazebo example
  .github/workflows/ci.yml
  andino_gazebo/launch/andino_one_robot.launch.py
  andino_navigation/CHANGELOG.rst
  andino_navigation/CMakeLists.txt
  andino_navigation/LICENSE
  andino_navigation/NOTICE
  andino_navigation/README.md
  andino_navigation/launch/andino_simulation_navigation.launch.py
  andino_navigation/launch/bringup.launch.py
  andino_navigation/package.xml
  andino_navigation/params/nav2_params.yaml
  andino_navigation/rviz/nav2_default_view.rviz
Labels: enhancement, humble

#123 Updates README with andino_navigation package reference
  README.md
Labels: documentation
